{% extends 'login_register/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<body>
<div class="row">
  <div class="column">
  	<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="static/heart.jpg" >
  <div class="card-body">
    <h5 class="card-title">Heart Donation</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-danger">Register</a>
  </div>
</div>

  </div>
  <div class="column">
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="static/eyes.jpg" alt=>
  <div class="card-body">
    <h5 class="card-title">Eyes Donation</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-danger">Register</a>
  </div>
</div>
  </div>
  <div class="column">
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="static/liver.jpg">
  <div class="card-body">
    <h5 class="card-title">Liver Transplant</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-danger">Register</a>
  </div>
</div>
  </div>
  <div class="column">
   <div class="card" style="width: 18rem;">
  <img class="card-img-top" src=static/kidneys.jpg >
  <div class="card-body">
    <h5 class="card-title">Kidney Tansplant</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-danger">Register</a>
  </div>
</div>
  </div>
</div>

{% endblock %}
</body>